* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 300px;
}

body {
    padding: 5px;
    overflow: hidden;
}

#content {
    width: 90%;
    margin: auto;
    font-size: 12px;
    overflow: hidden;
}

#content tr td {
    text-align: center;
}

#title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px black;
}
